@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;

}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none; 
    color: #ffffff;
}

@media only screen and (min-width:600px){
    header{
        position: fixed;
        top: 0;
        left:0;
        background-image: linear-gradient(90deg, rgb(255, 166, 0), rgb(255, 0, 0));
        box-shadow: 1px 1px 30px 2px rgba(0, 0, 0, 0.474) ;
        width: 100%;
        height: 10vh;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    
    }
    
    header .logo img{
        width: 120px;
    }
    
    header .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
    header .menu a {
        padding: 5px;
        color: white;
        font-weight: 300;
        text-decoration: none;
    }
    header .menu a::after {
        content: "";
        width: 10%;
        height: 2px;
        background-color: white;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    
    header .menu a:hover::after {
        content: "";
        width: 70%;
        height: 2px;
        background-color: white;
        text-decoration: none;
        display: block;    
        margin: 0;
        padding: 0;
        transition: all 0.5s ease-in-out;
    
    }
    
    
    
    .image_div{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.349);
        overflow: hidden;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    
    
    .content{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 30%;
        height: 70%;
        gap: 20px;
        padding-left: 50px;
        margin-left: 20px !important;
        text-align: justify;
        color: wheat;
        transform: perspective(400px) rotateY(18deg);
    }
    
    
    .content h2{
        font-size: 3em;
    
    }
    
    .content p{
        font-size: 1em;
    }
    
    .content button{
        background-color: transparent;
        border: none;
        font-weight: 500;
        cursor: pointer;
        color: wheat;
        border: 1px solid wheat;
        padding: 10px;
        transition: all 0.5s ease-in-out;
        transform: translateY(0px);
        animation: move 0.5s ease-out 0s 1 normal backwards;
        overflow: hidden;
    }
    
    .content button:hover{
        background-color: transparent;
        border: none;
        font-weight: 500;
        cursor: pointer;
        color: wheat;
        border: 1px solid orangered;
        background-color: orangered;
        transition: all 0.5s ease-in-out;
        transform: translateY(-5px);
        padding: 10px;
        box-shadow: 1px 1px 10px 2px orangered ;
    
    }
    video{
        position: fixed;
        object-fit: cover;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    #about{
        position: relative;
        top: 100vh;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(90deg, rgb(255, 166, 0), rgba(255, 0, 0, 0.992));
    }
    
    
    
    #about .description{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        right: 5%;
        height: 100%;
        width: 50%;
        scroll-behavior: smooth;
    
    }
    
    #about .description h4{
        font-size: 0.9rem;
        text-align: left;
    }
    
    
    #about .description h2{
        font-size: 4rem;
        color: #ededed;
        font-weight: bold;
    }
    
    #about .description p{
        font-size: 0.9rem;
        width: 60%;
        padding-left: 70px !important;
        text-align:start;
    }
    
    #about .description #playButton{
        background-color: transparent;
        border: none;
        font-weight: 500;
        margin-left: 70px;
        cursor: pointer;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 10px;
        z-index: 5;
    }
    
    #about .description #playButton1{
        background-color: transparent;
        border: none;
        font-weight: 500;
        cursor: pointer;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 10px;
        z-index: 5;
    }
    
    #about img{
        position: absolute;
        top: 30%;
        left: 5%;
        width: 50%;
        height: auto;
    }

    section{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100vh;
           background-color:  rgba(117, 0, 0, 0.992);
            width: 100%;
            height: 100vh;
            z-index: 99;
        }
    
        .gallery{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    
        .gallery-container{
    
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 0 20px;
            align-items: center;
            justify-content: center;
            row-gap: 10px;
            column-gap: 10px;
          
        }
    
        .gallery-container div{
            background-color: aliceblue;
            width: 500px;
            height: 300px;
        }
    
       
    
}

@media only screen and (max-width: 600px) {
    header{
        position: fixed;
        top: 0;
        left:0;
        background-image: linear-gradient(90deg, rgb(255, 166, 0), rgba(255, 0, 0, 0.8));
        box-shadow: 1px 1px 30px 2px rgba(0, 0, 0, 0.474) ;
        width: 100%;
        height: 10vh;
        z-index: 99;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    
    }

    header .logo img{
        width: 90px;
    }
    
    header .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
    header .menu a {
        padding: 5px;
        color: white;
        font-weight: 300;
        text-decoration: none;
    }
    header .menu a::after {
        content: "";
        width: 10%;
        height: 2px;
        background-color: white;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    
    header .menu a:hover::after {
        content: "";
        width: 70%;
        height: 2px;
        background-color: white;
        text-decoration: none;
        display: block;    
        margin: 0;
        padding: 0;
        transition: all 0.5s ease-in-out;
    
    }

    .image_div{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.349);
        overflow: hidden;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 80%;
        height: 30%;
        gap: 20px;
        padding-left: 50px;
        margin-left: 10px !important;
        text-align: justify;
        color: wheat;
        /* transform: perspective(400px) rotateY(18deg); */
    }
    
    
    .content h2{
        font-size: 2.7em;
        line-height: 45px;
    
    }
    
    .content p{
        font-size: 0.8em;
    }
    
    .content button{
        background-color: transparent;
        border: none;
        font-weight: 500;
        cursor: pointer;
        color: wheat;
        border: 1px solid wheat;
        padding: 10px;
        transition: all 0.5s ease-in-out;
        transform: translateY(0px);
        animation: move 0.5s ease-out 0s 1 normal backwards;
        overflow: hidden;
    }
    
    .content button:hover{
        background-color: transparent;
        border: none;
        font-weight: 500;
        cursor: pointer;
        color: wheat;
        border: 1px solid orangered;
        background-color: orangered;
        transition: all 0.5s ease-in-out;
   
        padding: 10px;
        box-shadow: 1px 1px 10px 2px orangered ;
    
    }

    video{
        position: fixed;
        object-fit: cover;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
    }
    
    #about{
        position: relative;
        top: 100vh;
        left: 0;
    overflow: hidden;
        width: 100%;
        height: 100vh;
        /* padding-bottom: 70px; */
        background-image: linear-gradient(120deg, rgb(255, 166, 0), rgba(255, 0, 0, 0.992));
    }
    
    #about .description{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        top: -5%;
        right: 5%;

        height: 100%;
        width: 90%;
        scroll-behavior: smooth;
    
    }
    
    #about .description h4{
        font-size: 0.9rem;
        text-align: left;
    }
    
    
    #about .description h2{
        font-size: 3rem;
        color: #ededed;
        font-weight: bold;
    }
    
    #about .description p{
        font-size: 1rem;
        width: 90%;
        /* padding-left: 70px !important; */
        text-align:start;
    }
    
    #about .description #playButton{
        background-color: transparent;
        border: none;
        font-weight: 500;
        /* margin-left: 70px; */
        cursor: pointer;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 10px;
        z-index: 5;
    }

     
    #about .description #playButton1{
        background-color: transparent;
        border: none;
        font-weight: 500;
        cursor: pointer;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 10px;
        z-index: 5;
    }
    
    
    
    #about img{
    
        position: absolute;
        top: 65%;
        left: 5%;
        width: 90%;
        height: auto;
    }

 section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100vh;
       background-color:  rgba(117, 0, 0, 0.992);
        width: 100%;
        height: 100vh;
        padding-top: 50px;
    }

    .gallery{
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .gallery-container{
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
      
    }

    .gallery-container div{
        background-color: aliceblue;
        width: 250px;
        height: 150px;
    }


  }
