@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

:root{
    --primary-color: #8c34ff;
    --secondary-color: #f1effc;
    --text-color: #000;
    --light-text-color: #727272fd;
    --background-color: #fff;
    --active-link-color: #9748fd;
    --inactive-link-color: #898888;
    --pro-color: #fec459;
    --button-boder: 15px;
    --card-border: 10px;
    --active-button-color: #8c33ff;
    --card-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    --card-shadow-hover:  0px 0px 20px rgba(0,0,0,0.2);
}



body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    align-items: start;
    justify-content: center;
}
/* ION-ICON START */
ion-icon{
    font-size: 34px;
    color: var(--primary-color);
}

ion-icon:hover{
    color: var(--active-button-color);
    transition: all 0.3s ease-in-out;
}

.menu-icon{
    display: none;
}
/* ION-ICON END */

/* ==================================================LINK START ================================================ */

a{
    text-decoration: none;
    color: var(--inactive-link-color);
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-weight: 400;
    /* padding: 0px 10px; */
}

a:hover{
    color: var(--active-link-color);
    font-weight: 600;
}
.link-active{
    color: var(--active-link-color);
    font-weight: 600;
}

/* ================================================== LINK END ================================================ */
/* ================================================== BUTTON START ================================================ */

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn{
    padding: 10px 20px;
    border-radius: var(--button-boder);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.text-btn{
    background-color: var(--secondary-color);;
    color: var(--light-text-color);
}

.outline-btn{
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.filled-btn{
    background-color: var(--primary-color);
    color: var(--background-color);
    
}
.rounded-btn{
    border-radius: 50px;
}
/* ================================================== BUTTON END ================================================*/

/* ================================================== TEXT START ================================================ */
.title{
    font-size: 55px;
    font-weight: 900;
    color: var(--text-color);
}

.subtitle{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
}

.text{
    font-size: 15px;
    font-weight: 300;
    color: var(--light-text-color)
}

.logo{
    font-size: 30px;
    font-weight: 900;
    color: var(--primary-color);
}
/* ================================================== TEXT END ================================================ */
/* ================================================== HEADER START ================================================ */
 header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    background-color: var(--secondary-color);
    box-shadow: var(--card-shadow);
 }

 nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
 }
/* ================================================== HEADER END ================================================ */
/* ================================================== HERO START  ================================================ */
  section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 15px 30px 15px;
    width: 100%;
  }

  .hero{
    padding-bottom: 30px;
  }

  .hero-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 30px 15px 10px 15px;
  }

  .hero-title h1{
    font-size: 5rem;
    line-height: 0.9;
    font-family: 400;
    max-width: 60%;
  }
  .hero-subtitle{
    display: flex;
    align-items: start;
    justify-content: center;
    column-gap:20px ;
    width: 100%;
    font-weight: bolder;
  }

  .hero-subtitle p:nth-child(1){
    max-width: 20%;
  }

  .hero-image{
    position: relative;
    width: 30%;
    height: 400px;
    background-color: var(--primary-color);
    border-radius: 30px;
    overflow: hidden;
  }
  .hero-image img{
    position: absolute;
    top: 0;
    right: -50px;
    object-fit: cover;
  }

/* ================================================== HERO END  ================================================ */
